In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [27]:
pd.set_option('display.max_columns', None)

In [132]:
df = pd.read_csv('../AdventureWorks2019.csv', sep=';', header=0)

In [19]:
df['CatName'].unique()

array(['Bikes', 'Clothing', 'Accessories', 'Components'], dtype=object)

In [23]:
df['SubName'][df['CatName'] == 'Bikes'].unique()

array(['Mountain Bikes', 'Road Bikes', 'Touring Bikes'], dtype=object)

In [133]:
MountainBikes = df[df['SubName'] == 'Mountain Bikes']

In [59]:
MountainBikes['Style'].unique()

array(['U ', 'W '], dtype=object)

#### How many individuals mountain bikes has been stored in Adv2019?

In [79]:
allBikesMB = len(MountainBikes['ProductID'].unique())
allBikesMB

32

#### How many mountain bikes has been salled in Adv Store at all?

In [78]:
allSalesMB = MountainBikes['OrderQty'].sum()
allSalesMB

28321

#### Which are the 5 top all time sellable mountain bikes by quantity of orders?

In [143]:
MountainBikes['OrderQty'].sum()

28321

In [170]:
sumOrderQty = MountainBikes[['OrderQty', 'ProductID']].groupby('ProductID').sum().sort_values('OrderQty', ascending=False)
sumOrderQty.head(5)

           OrderQty
ProductID
782            2977
783            2664
779            2394
780            2234
781            2216

##### How many bikes is currently aveliable in the store?

In [89]:
MountainBikesAveliable = MountainBikes[MountainBikes['SellEndDate'].isna()]

In [90]:
len(MountainBikesAveliable['ProductID'].unique())

20

##### Top 5 most sellable bikes which are no longer aveliable on sale

In [93]:
MountainBikesUnaveliable = MountainBikes[MountainBikes['SellEndDate'].isnull() == False]

In [94]:
MountainBikesUnaveliable[['OrderQty', 'ProductID']].groupby('ProductID').sum().sort_values('OrderQty', ascending=False).head(10)

           OrderQty
ProductID
786             776
787             747
788             740
785             684
775             682
777             678
771             642
776             634
778             616
773             601

#### Which are the most profitable Mountain bikes?

In [134]:
MountainBikes['UnitPrice'] = MountainBikes[['UnitPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-134-d50f9e45fd40>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['UnitPrice'] = MountainBikes[['UnitPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [135]:
MountainBikes['StandardCost'] = MountainBikes[['StandardCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-135-a3105d908444>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['StandardCost'] = MountainBikes[['StandardCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [136]:
MountainBikes['UnitPriceDiscount'] = MountainBikes[['UnitPriceDiscount']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-136-183930049dee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['UnitPriceDiscount'] = MountainBikes[['UnitPriceDiscount']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [137]:
MountainBikes['AmtOfSale'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * (1-MountainBikes['UnitPriceDiscount'])

<ipython-input-137-b7c96151bb3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['AmtOfSale'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * (1-MountainBikes['UnitPriceDiscount'])

In [139]:
MountainBikes['AmtOfDisc'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * MountainBikes['UnitPriceDiscount']

<ipython-input-139-51b81425b59d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['AmtOfDisc'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * MountainBikes['UnitPriceDiscount']

In [189]:
MountainBikes['GrossProfit'] = MountainBikes['AmtOfSale'] - MountainBikes['StandardCost']*MountainBikes['OrderQty']

<ipython-input-189-f6895a880f43>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['GrossProfit'] = MountainBikes['AmtOfSale'] - MountainBikes['StandardCost']*MountainBikes['OrderQty']

In [190]:
totaltProfit = MountainBikes[['GrossProfit', 'ProductID']].groupby('ProductID').sum().sort_values('GrossProfit', ascending=False).rename(columns = {'GrossProfit':'TotalProfit'})
totaltProfit.head(2)

             TotalProfit
ProductID
783        674216.578641
782        673444.470300

This is the most prfitable bikes all time

##### What is an average profit from singular bike sell?

In [191]:
avgProfit = MountainBikes[['GrossProfit', 'ProductID']].groupby('ProductID').mean().sort_values('GrossProfit', ascending=False).rename(columns = {'GrossProfit':'AvgProfit'})
avgProfit.head(2)

            AvgProfit
ProductID
784        629.594611
779        606.750404

In [192]:
sumOrderQty = sumOrderQty.sort_index()
avgProfit = avgProfit.sort_index()
totaltProfit = totaltProfit.sort_index()

In [193]:
dictionary = {'sumOfOrders': sumOrderQty['OrderQty'], 'avgProfit' : avgProfit['AvgProfit'], 'totalProfit': totaltProfit['TotalProfit']}

In [194]:
len(sumOrderQty)

32

In [195]:
MBSummary = pd.DataFrame(dictionary)

In [196]:
MBSummary['totalProfit'] = MBSummary['totalProfit'].round(2)

In [197]:
MBSummary.sort_values('totalProfit', ascending=False)

           sumOfOrders   avgProfit  totalProfit
ProductID
783               2664  572.826320    674216.58
782               2977  537.894944    673444.47
784               2111  629.594611    666740.69
779               2394  606.750404    663784.94
781               2216  597.385323    629644.13
780               2234  587.581632    611084.90
777                678  326.216425     78944.37
773                601  291.869380     68005.57
778                616  267.694979     65049.88
981                617  214.951986     64700.55
771                642  266.662139     64265.58
980                425  250.466158     63367.94
983                401  246.931083     59016.53
982                385  241.745411     55843.19
774                505  264.799162     54019.03
772                593  237.951543     52587.29
776                634  225.135450     51330.88
775                682  194.431085     45496.87
786                776  167.098676     37263.00
787                747  162.369624     37020.27
788                740  162.465041     36229.70
785                684  150.669424     33147.27
992                449  109.063779     25302.80
991                350  118.252710     22822.77
990                388  112.802833     21996.55
989                282  124.417604     18662.64
993                272  115.455655     16856.53
984                450   28.920258      6391.38
986                381   26.058522      5081.41
988                515   10.852232      2561.13
987                457    8.954783      2041.69
985                455    5.073998      1121.35