In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
df = pd.read_csv('../AdventureWorks2019.csv', sep=';', header=0)

In [12]:
df['CatName'].unique()

array(['Bikes', 'Clothing', 'Accessories', 'Components'], dtype=object)

In [13]:
df['SubName'][df['CatName'] == 'Bikes'].unique()

array(['Mountain Bikes', 'Road Bikes', 'Touring Bikes'], dtype=object)

In [14]:
RoadBikes = df[df['SubName'] == 'Road Bikes']

In [15]:
RoadBikes['Style'].unique()

array(['U ', 'W '], dtype=object)

#### How many individuals Road bikes has been stored in Adv2019?

In [16]:
allBikes = len(RoadBikes['ProductID'].unique())
allBikes

43

#### How many Road bikes has been salled in Adv Store at all?

In [17]:
allSales = RoadBikes['OrderQty'].sum()
allSales

47196

#### Which are the 5 top all time sellable Road bikes by quantity of orders?

In [18]:
RoadBikes['OrderQty'].sum()

47196

In [19]:
sumOrderQty = RoadBikes[['OrderQty', 'ProductID']].groupby('ProductID').sum().sort_values('OrderQty', ascending=False)
sumOrderQty.head(5)

           OrderQty
ProductID
770            2270
762            2254
760            2232
761            1896
763            1888

##### How many bikes is currently aveliable in the store?

In [20]:
RoadBikesAveliable = RoadBikes[RoadBikes['SellEndDate'].isna()]

In [21]:
len(RoadBikesAveliable['ProductID'].unique())

18

##### Top 5 most sellable bikes which are no longer aveliable on sale

In [22]:
RoadBikesUnaveliable = RoadBikes[RoadBikes['SellEndDate'].isnull() == False]

In [23]:
RoadBikesUnaveliable[['OrderQty', 'ProductID']].groupby('ProductID').sum().sort_values('OrderQty', ascending=False).head(10)

           OrderQty
ProductID
770            2270
762            2254
760            2232
761            1896
763            1888
765            1871
764            1112
766            1100
768            1080
789             895

#### Which are the most profitable Road bikes?

In [24]:
RoadBikes['UnitPrice'] = RoadBikes[['UnitPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-24-a34fcae9da73>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RoadBikes['UnitPrice'] = RoadBikes[['UnitPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [25]:
RoadBikes['StandardCost'] = RoadBikes[['StandardCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-25-7cc8b7afd722>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RoadBikes['StandardCost'] = RoadBikes[['StandardCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [26]:
RoadBikes['UnitPriceDiscount'] = RoadBikes[['UnitPriceDiscount']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-26-cfb71e043e24>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RoadBikes['UnitPriceDiscount'] = RoadBikes[['UnitPriceDiscount']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [27]:
RoadBikes['AmtOfSale'] = RoadBikes['UnitPrice'] * RoadBikes['OrderQty'] * (1-RoadBikes['UnitPriceDiscount'])

<ipython-input-27-affde11483de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RoadBikes['AmtOfSale'] = RoadBikes['UnitPrice'] * RoadBikes['OrderQty'] * (1-RoadBikes['UnitPriceDiscount'])

In [28]:
RoadBikes['AmtOfDisc'] = RoadBikes['UnitPrice'] * RoadBikes['OrderQty'] * RoadBikes['UnitPriceDiscount']

<ipython-input-28-7401af16a45f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RoadBikes['AmtOfDisc'] = RoadBikes['UnitPrice'] * RoadBikes['OrderQty'] * RoadBikes['UnitPriceDiscount']

In [29]:
RoadBikes['GrossProfit'] = RoadBikes['AmtOfSale'] - RoadBikes['StandardCost']*RoadBikes['OrderQty']

<ipython-input-29-f255fa0dadb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RoadBikes['GrossProfit'] = RoadBikes['AmtOfSale'] - RoadBikes['StandardCost']*RoadBikes['OrderQty']

In [30]:
totaltProfit = RoadBikes[['GrossProfit', 'ProductID']].groupby('ProductID').sum().sort_values('GrossProfit', ascending=False).rename(columns = {'GrossProfit':'TotalProfit'})
totaltProfit.head(2)

           TotalProfit
ProductID
751        470355.0214
749        466320.1680

This is the most prfitable bikes all time

##### What is an average profit from singular bike sell?

In [31]:
avgProfit = RoadBikes[['GrossProfit', 'ProductID']].groupby('ProductID').mean().sort_values('GrossProfit', ascending=False).rename(columns = {'GrossProfit':'AvgProfit'})
avgProfit.head(2)

             AvgProfit
ProductID
751        1150.012277
752        1114.049916

In [32]:
sumOrderQty = sumOrderQty.sort_index()
avgProfit = avgProfit.sort_index()
totaltProfit = totaltProfit.sort_index()

In [33]:
dictionary = {'sumOfOrders': sumOrderQty['OrderQty'], 'avgProfit' : avgProfit['AvgProfit'], 'totalProfit': totaltProfit['TotalProfit']}

In [34]:
len(sumOrderQty)

43

In [35]:
MBSummary = pd.DataFrame(dictionary)

In [36]:
MBSummary['totalProfit'] = MBSummary['totalProfit'].round(2)

In [53]:
MBSummary = MBSummary.sort_values('totalProfit', ascending=False)

In [54]:
UnavelRBList = RoadBikesUnaveliable.groupby('ProductID').sum().reset_index()['ProductID']

In [55]:
MBSummary.head(5)

           sumOfOrders    avgProfit  totalProfit
ProductID
751                493  1150.012277    470355.02
749                600   992.170570    466320.17
752                458  1114.049916    421110.87
753                664   854.903746    406079.28
750                437  1093.755242    391564.38

In [56]:
MBSummary.reset_index(inplace=True)