In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [27]:
pd.set_option('display.max_columns', None)

In [132]:
df = pd.read_csv('../AdventureWorks2019.csv', sep=';', header=0)

In [19]:
df['CatName'].unique()

array(['Bikes', 'Clothing', 'Accessories', 'Components'], dtype=object)

In [23]:
df['SubName'][df['CatName'] == 'Bikes'].unique()

array(['Mountain Bikes', 'Road Bikes', 'Touring Bikes'], dtype=object)

In [133]:
MountainBikes = df[df['SubName'] == 'Mountain Bikes']

In [59]:
MountainBikes['Style'].unique()

array(['U ', 'W '], dtype=object)

#### How many individuals mountain bikes has been stored in Adv2019?

In [79]:
allBikesMB = len(MountainBikes['ProductID'].unique())
allBikesMB

32

#### How many mountain bikes has been salled in Adv Store at all?

In [78]:
allSalesMB = MountainBikes['OrderQty'].sum()
allSalesMB

28321

#### Which are the 5 top all time sellable mountain bikes by quantity of orders?

In [143]:
MountainBikes['OrderQty'].sum()

28321

In [170]:
sumOrderQty = MountainBikes[['OrderQty', 'ProductID']].groupby('ProductID').sum().sort_values('OrderQty', ascending=False)
sumOrderQty.head(5)

           OrderQty
ProductID
782            2977
783            2664
779            2394
780            2234
781            2216

##### How many bikes is currently aveliable in the store?

In [89]:
MountainBikesAveliable = MountainBikes[MountainBikes['SellEndDate'].isna()]

In [90]:
len(MountainBikesAveliable['ProductID'].unique())

20

##### Top 5 most sellable bikes which are no longer aveliable on sale

In [93]:
MountainBikesUnaveliable = MountainBikes[MountainBikes['SellEndDate'].isnull() == False]

In [94]:
MountainBikesUnaveliable[['OrderQty', 'ProductID']].groupby('ProductID').sum().sort_values('OrderQty', ascending=False).head(10)

           OrderQty
ProductID
786             776
787             747
788             740
785             684
775             682
777             678
771             642
776             634
778             616
773             601

#### Which are the most profitable Mountain bikes?

In [134]:
MountainBikes['UnitPrice'] = MountainBikes[['UnitPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-134-d50f9e45fd40>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['UnitPrice'] = MountainBikes[['UnitPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [135]:
MountainBikes['StandardCost'] = MountainBikes[['StandardCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-135-a3105d908444>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['StandardCost'] = MountainBikes[['StandardCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [136]:
MountainBikes['UnitPriceDiscount'] = MountainBikes[['UnitPriceDiscount']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

<ipython-input-136-183930049dee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['UnitPriceDiscount'] = MountainBikes[['UnitPriceDiscount']].applymap(lambda x: str(x.replace(',','.'))).astype('float')

In [137]:
MountainBikes['AmtOfSale'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * (1-MountainBikes['UnitPriceDiscount'])

<ipython-input-137-b7c96151bb3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['AmtOfSale'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * (1-MountainBikes['UnitPriceDiscount'])

In [139]:
MountainBikes['AmtOfDisc'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * MountainBikes['UnitPriceDiscount']

<ipython-input-139-51b81425b59d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['AmtOfDisc'] = MountainBikes['UnitPrice'] * MountainBikes['OrderQty'] * MountainBikes['UnitPriceDiscount']

In [141]:
MountainBikes['GrossProfit'] = MountainBikes['AmtOfSale'] - MountainBikes['StandardCost']

<ipython-input-141-dc227eb75df7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MountainBikes['GrossProfit'] = MountainBikes['AmtOfSale'] - MountainBikes['StandardCost']

In [157]:
totaltProfit = MountainBikes[['GrossProfit', 'ProductID']].groupby('ProductID').sum().sort_values('GrossProfit', ascending=False).rename(columns = {'GrossProfit':'TotalProfit'})
totaltProfit.head(2)

            TotalProfit
ProductID
782        2.833112e+06
783        2.535913e+06

This is the most prfitable bikes all time

##### What is an average profit from singular bike sell?

In [158]:
avgProfit = MountainBikes[['GrossProfit', 'ProductID']].groupby('ProductID').mean().sort_values('GrossProfit', ascending=False).rename(columns = {'GrossProfit':'AvgProfit'})
avgProfit.head(2)

             AvgProfit
ProductID
775        3828.389594
777        3745.923691

In [171]:
sumOrderQty = sumOrderQty.sort_index()
avgProfit = avgProfit.sort_index()
totaltProfit = totaltProfit.sort_index()

In [177]:
dictionary = {'sumOfOrders': sumOrderQty['OrderQty'], 'avgProfit' : avgProfit['AvgProfit'], 'totalProfit': totaltProfit['TotalProfit']}

In [178]:
len(sumOrderQty)

32

In [179]:
MBSummary = pd.DataFrame(dictionary)

In [186]:
MBSummary['totalProfit'] = MBSummary['totalProfit'].round(2)

In [188]:
MBSummary.sort_values('totalProfit', ascending=False)

           sumOfOrders    avgProfit  totalProfit
ProductID
782               2977  2262.869180   2833112.21
783               2664  2154.556306   2535912.77
779               2394  2110.685825   2309090.29
780               2234  2040.610173   2122234.58
781               2216  1992.688794   2100293.99
784               2111  1873.300302   1983825.02
777                678  3745.923691    906513.53
775                682  3828.389594    895843.17
771                642  3448.296639    831039.49
776                634  3605.075478    821957.21
778                616  3181.230828    773039.09
773                601  3311.924398    771678.38
772                593  3456.600579    763908.73
774                505  3086.164232    629577.50
786                776  1651.111125    368197.78
787                747  1524.597574    347608.25
788                740  1549.869085    345620.81
785                684  1412.824086    310821.30
981                617   655.649576    197350.52
980                425   535.849102    135569.82
983                401   531.467070    127020.63
982                385   521.597678    120489.06
992                449   384.597378     89226.59
988                515   375.228478     88553.92
990                388   404.361203     78850.43
984                450   348.295367     76973.28
985                455   331.422362     73244.34
987                457   318.524516     72623.59
991                350   357.884901     69071.79
986                381   320.050980     62409.94
989                282   383.647740     57547.16
993                272   369.681971     53973.57