In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_columns', None)

sns.set(rc={'figure.figsize':(12,6)})

In [11]:
df1 = pd.read_csv('./../../PredictingYearlyOrderQuantity/Data/2011-2012OrdersQuantity.csv', sep=';')
df2 = pd.read_csv('./../../PredictingYearlyOrderQuantity/Data/2012-2013OrdersQuantity.csv', sep=';')
df3 = pd.read_csv('./../../PredictingYearlyOrderQuantity/Data/2013-2014OrdersQuantity.csv', sep=';')

In [12]:
df = pd.concat([df1,df2,df3])

In [13]:
df['UnitPriceDiscount'] = df[['UnitPriceDiscount']].applymap(lambda x: str(x.replace(',','.'))).astype('float64')
df['StanstadCost'] = df[['StanstadCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float64')
df['ListPrice'] = df[['ListPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float64')
df['FinalSellPrice'] = df[['FinalSellPrice']].applymap(lambda x: str(x.replace(',','.'))).astype('float64')
df['PriceToCost'] = df[['PriceToCost']].applymap(lambda x: str(x.replace(',','.'))).astype('float64')

# Question 1
#### What has incommone products sold under the standard costs?

In [16]:
np = df[df['PriceToCost'] < 1]

In [17]:
np

,Name,Color,Size,UnitPriceDiscount,MonthsFromMay,MonthOfSale,YearsOfAveliability,Weight,Class,StanstadCost,ListPrice,FinalSellPrice,PriceToCost,OrdersQuantity,YearsOfAnalyze
0,Mountain Bikes,Black,38,0.35,11,4,0,20.35,H,1898.0944,3374.99,548.4359,0.2889,70,06.2011-06.2012
24,Mountain Bikes,Black,42,0.35,11,4,0,20.77,H,1898.0944,3374.99,548.4359,0.2889,60,06.2011-06.2012
46,Mountain Bikes,Black,44,0.35,11,4,0,21.13,H,1898.0944,3374.99,548.4359,0.2889,58,06.2011-06.2012
69,Mountain Bikes,Black,48,0.35,11,4,0,21.42,H,1898.0944,3374.99,548.4359,0.2889,61,06.2011-06.2012
89,Mountain Bikes,Silver,38,0.35,11,4,0,20.35,H,1912.1544,3399.99,552.4984,0.2889,65,06.2011-06.2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1412,Touring Bikes,Yellow,62,0.00,3,8,0,30.00,L,461.4448,742.35,445.4100,0.9652,29,06.2013-06.2014
1413,Touring Bikes,Yellow,62,0.00,4,9,0,30.00,L,461.4448,742.35,445.4100,0.9652,75,06.2013-06.2014
1414,Touring Bikes,Yellow,62,0.00,5,10,0,30.00,L,461.4448,742.35,445.4100,0.9652,85,06.2013-06.2014
1415,Touring Bikes,Yellow,62,0.00,6,11,0,30.00,L,461.4448,742.35,445.4100,0.9652,37,06.2013-06.2014
1416,Touring Bikes,Yellow,62,0.00,7,12,0,30.00,L,461.4448,742.35,445.4100,0.9652,38,06.2013-06.2014